/* All css */
.container
{
    font-family: 'Livvic',sans-serif;
    position: relative;
    z-index: 5;
}
p
{
    font-family: 'Livvic',sans-serif;
}
.container-fluid
{
    font-family: 'Livvic',sans-serif;
    z-index: 5;    
}
.dropdown-item:hover
{
    background-color: lightgray;
}
.footer
{
    z-index: 5;
}
.row
{
    z-index: 4;
}
.col
{
    z-index: 5;
}
/* background */

body 
{
  margin: 0;
  font-family: 'Livvic', sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

.background 
{
  min-height: 100vh; 
  width: 100vw;
  background: #3E1E68;
  z-index: -1;
}

.background span 
{
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 0;
}

.background span:nth-child(1) 
{
  color: #583C87;
  top: 7%;
  left: 31%;
  animation-duration: 11.8s;
  animation-delay: -9.6s;
  transform-origin: 9vw -16vh;
  box-shadow: 40vmin 0 12.040540219vmin currentColor;
}
.background span:nth-child(2) 
{
  color: #583C87;
  top: 53%;
  left: 8%;
  animation-duration: 13s;
  animation-delay: -15.5s;
  transform-origin: 3vw 13vh;
  box-shadow: -40vmin 0 12.2912747169vmin currentColor;
}
.background span:nth-child(3) 
{
  color: #E45A84;
  top: 97%;
  left: 100%;
  animation-duration: 11.6s;
  animation-delay: -13.2s;
  transform-origin: 11vw -18vh;
  box-shadow: -40vmin 0 14.9520914711vmin currentColor;
}
.background span:nth-child(4) 
{
  color: #FFACAC;
  top: 18%;
  left: 98%;
  animation-duration: 14.2s;
  animation-delay: -3.7s;
  transform-origin: 10vw 17vh;
  box-shadow: -40vmin 0 5.9876279681vmin currentColor;
}
.background span:nth-child(5) 
{
  color: #FFACAC;
  top: 81%;
  left: 6%;
  animation-duration: 14.3s;
  animation-delay: -12.8s;
  transform-origin: 11vw 20vh;
  box-shadow: 40vmin 0 12.4498628676vmin currentColor;
}
.background span:nth-child(6) 
{
  color: #FFACAC;
  top: 64%;
  left: 68%;
  animation-duration: 10.5s;
  animation-delay: -1.4s;
  transform-origin: -13vw -9vh;
  box-shadow: -40vmin 0 5.3659574887vmin currentColor;
}
.background span:nth-child(7) 
{
  color: #FFACAC;
  top: 31%;
  left: 28%;
  animation-duration: 11.5s;
  animation-delay: -11.4s;
  transform-origin: 25vw -11vh;
  box-shadow: -40vmin 0 8.6755930018vmin currentColor;
}
.background span:nth-child(8) 
{
  color: #E45A84;
  top: 98%;
  left: 100%;
  animation-duration: 15s;
  animation-delay: -9.3s;
  transform-origin: 23vw 11vh;
  box-shadow: 40vmin 0 13.8821096836vmin currentColor;
}
.background span:nth-child(9) 
{
  color: #FFACAC;
  top: 93%;
  left: 75%;
  animation-duration: 11.4s;
  animation-delay: -4.4s;
  transform-origin: 22vw 21vh;
  box-shadow: 40vmin 0 7.6988926872vmin currentColor;
}
.background span:nth-child(10) 
{
  color: #FFACAC;
  top: 70%;
  left: 34%;
  animation-duration: 13.3s;
  animation-delay: -7.6s;
  transform-origin: 16vw -21vh;
  box-shadow: -40vmin 0 10.9738615474vmin currentColor;
}
.background span:nth-child(11) 
{
  color: #583C87;
  top: 50%;
  left: 95%;
  animation-duration: 15.4s;
  animation-delay: -9.1s;
  transform-origin: 2vw 8vh;
  box-shadow: -40vmin 0 8.0034737345vmin currentColor;
}
.background span:nth-child(12) 
{
  color: #583C87;
  top: 86%;
  left: 9%;
  animation-duration: 12.5s;
  animation-delay: -7.5s;
  transform-origin: -9vw -7vh;
  box-shadow: 40vmin 0 10.3398425775vmin currentColor;
}
.background span:nth-child(13) 
{
  color: #E45A84;
  top: 38%;
  left: 88%;
  animation-duration: 12.4s;
  animation-delay: -11.5s;
  transform-origin: -1vw -9vh;
  box-shadow: 40vmin 0 10.8484192833vmin currentColor;
}
.background span:nth-child(14) 
{
  color: #E45A84;
  top: 97%;
  left: 98%;
  animation-duration: 15.2s;
  animation-delay: -14s;
  transform-origin: 13vw -5vh;
  box-shadow: -40vmin 0 14.988700594vmin currentColor;
}
.background span:nth-child(15) 
{
  color: #E45A84;
  top: 34%;
  left: 36%;
  animation-duration: 14.3s;
  animation-delay: -14.3s;
  transform-origin: -10vw -23vh;
  box-shadow: 40vmin 0 11.3938223436vmin currentColor;
}
.background span:nth-child(16) 
{
  color: #FFACAC;
  top: 91%;
  left: 30%;
  animation-duration: 12s;
  animation-delay: -13.4s;
  transform-origin: 2vw 2vh;
  box-shadow: -40vmin 0 12.1020695323vmin currentColor;
}
.background span:nth-child(17) 
{
  color: #FFACAC;
  top: 71%;
  left: 89%;
  animation-duration: 15.2s;
  animation-delay: -2.6s;
  transform-origin: 0vw 14vh;
  box-shadow: 40vmin 0 12.7309769151vmin currentColor;
}
.background span:nth-child(18) 
{
  color: #E45A84;
  top: 93%;
  left: 63%;
  animation-duration: 11s;
  animation-delay: -0.8s;
  transform-origin: 0vw 4vh;
  box-shadow: 40vmin 0 9.0740305324vmin currentColor;
}
.background span:nth-child(19) 
{
  color: #583C87;
  top: 45%;
  left: 54%;
  animation-duration: 14.5s;
  animation-delay: -0.4s;
  transform-origin: 18vw -11vh;
  box-shadow: -40vmin 0 13.2934406988vmin currentColor;
}
.background span:nth-child(20) 
{
  color: #583C87;
  top: 57%;
  left: 38%;
  animation-duration: 14s;
  animation-delay: -7.1s;
  transform-origin: 6vw 17vh;
  box-shadow: -40vmin 0 8.96600387vmin currentColor;
}
@keyframes move 
{
  100% 
  {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}